<header class="main_header">
  <nav class="navbar">
    <div class="navbar__container container-no-bt">
      <!-- Brand logo (navigates home) -->
      <a routerLink="/" class="navbar__logo-img">
        <img src="assets/img/logv3_cropped.png" loading="lazy" alt="Logo" />
      </a>

      <!-- Hamburger button toggles mobile menu visibility -->
      <button class="navbar__toggle" (click)="toggleMobileMenu($event)">☰</button>

      <!-- Main navigation list; .open is applied on mobile -->
      <ul class="navbar__list js-nav" [class.open]="mobileMenuOpen">
        <!-- Primary group (center navigation links) -->
        <li class="navbar__item navbar__primary js-primary">
          <a  class="navbar__link" routerLink="/dashboard">{{ 'Home'}}</a>

          <!-- Dropdown: Football -->
        <div class="dropdown-wrapper" [class.open]="dropdownOpenFootball">
          <a class="navbar__link dropdown-toggle" (click)="toggleDropdown('football', $event)">
            {{ 'Football'}} <span class="caret">▾</span>
          </a>
        
          <div class="dropdown" *ngIf="dropdownOpenFootball">
          
            <!-- LOOP DECADES -->
            <div *ngFor="let decade of fifaDecades">
              <a (click)="toggleFIFADecade(decade.value); $event.stopPropagation(); $event.preventDefault();">
                {{ decade.label }} <span class="caret">></span>
              </a>
            
              <!-- LOOP FIFA GAMES INSIDE DECADE -->
              <div class="dropdown sub-dropdown" *ngIf="openDecade === decade.value">
                <a
                  class="dropdown__item"
                  *ngFor="let game of decade.games"
                  [routerLink]="['/fifa', game.route]"
                  (click)="closeDropdown(); $event.stopPropagation();"
                >
                  {{ game.name }}
                </a>
              </div>
            </div>
          
          </div>
        </div>



        </li>
      </ul>
    </div>
  </nav>
</header>