/* You can add global styles to this file, and also import other style files */
:root {
    --header: #FFFFFF;
    --main-dark: #15354E;
    --main-blue: #0088FF;
    --light-blue: #F1F9FF;
    --light-blue2: #E2F2FF;
    --white: #fff;
    --gray: #4b505e;
    --gray2: #a1b3c8;
    --color-grey: #F5F8FF;
    --background-primary: #f8f9fd;
    --background-secondary: #ffffff;
    --text-primary: #0c1840;
    --color-dubai: #000C37;
    --color-dirty: #6E7E92;
    --color-storm: #9EA9B9;
    --color-rain: #C9CFDB;
    --color-mood: #E0E4EC;
    --color-ice: #EFF1F6;
    --color-lapland: #F8F9FD;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  margin: 0;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
